.img-logo-header{ 
    height:50px;
}

.page-header{
    font-size:xx-large;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 5px 10px;
    font-size:small;
    cursor: pointer;
}